<div class="row">
    <div class="col-md-12">
        <label for="name">Email</label>
        <input type="text" id="email" class="form-control">
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-6">
        <label for="name">First Name</label>
        <input type="text" id="name" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="color">Second Name</label>
        <input type="text" name="second_name" class="form-control">
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-6">
        <label for="name">Password</label>
        <input type="password" id="password" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="color">Password Confirmation</label>
        <input type="password" name="password_confirm" class="form-control">
    </div>
</div>

<br>
<div class="form-group">
    <label for="all_access">Admin</label>
    <input type="checkbox" name="admin">
</div>

<input type="submit"  class="btn btn-success" value="Save user">