<label for="name">Company Name</label>
<input type="text" id="name" class="form-control" placeholder="Apple corp.">
<br>

<label for="zones">Zones</label>
<br>
<input type="checkbox" id="name"> Room1<br>
<input type="checkbox" id="name"> Room2<br>
<input type="checkbox" id="name"> Room3<br>

<br>

<input type="submit"  class="btn btn-success" value="Save company">